In [8]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import os
import sys
import datetime
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

In [5]:
token_metadata = pd.read_csv('/Users/shaheen/Documents/job_search_jan_2024/home_tasks/nft-valuations/data/token_metadata.csv')
token_metadata.head(5)

,Skin Tone,Type,Hair,Eyewear,Mouth,Headwear,Facial Hair,Smoking Device,Other:Earring,Neckwear,Skin Feature,Other:Medical Mask,Other:Clown Nose,Trait Count,rarest_property_name,token_index,rarity_score
0,Medium,Female,Blonde Bob,Green Eye Shadow,NaN,NaN,NaN,NaN,Earring,NaN,NaN,NaN,NaN,5 Trait Count,Hair:Blonde Bob,0,117.119410
1,Darker,Male,Mohawk,NaN,Smile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 Trait Count,Mouth:Smile,1,72.698512
2,Lighter,Female,Wild Hair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3 Trait Count,Hair:Wild Hair,2,58.332241
3,Darker,Male,Wild Hair,Nerd Glasses,NaN,NaN,NaN,Pipe,NaN,NaN,NaN,NaN,NaN,5 Trait Count,Smoking Device:Pipe,3,78.818332
4,Medium,Male,Wild Hair,Big Shades,NaN,NaN,Goat,NaN,Earring,NaN,NaN,NaN,NaN,6 Trait Count,Facial Hair:Goat,4,91.025350

In [6]:
token_metadata = token_metadata.fillna('Unknown')
token_metadata.nunique()

Skin Tone                   7
Type                        5
Hair                       26
Eyewear                    17
Mouth                       7
Headwear                   17
Facial Hair                13
Smoking Device              4
Other:Earring               2
Neckwear                    4
Skin Feature                4
Other:Medical Mask          2
Other:Clown Nose            2
Trait Count                 8
rarest_property_name       94
token_index             10000
rarity_score             9369
dtype: int64

In [7]:
token_metadata['rarest_property_name'] = token_metadata['rarest_property_name'].apply(lambda x: str(x).split(':')[0])
token_metadata.head()

,Skin Tone,Type,Hair,Eyewear,Mouth,Headwear,Facial Hair,Smoking Device,Other:Earring,Neckwear,Skin Feature,Other:Medical Mask,Other:Clown Nose,Trait Count,rarest_property_name,token_index,rarity_score
0,Medium,Female,Blonde Bob,Green Eye Shadow,Unknown,Unknown,Unknown,Unknown,Earring,Unknown,Unknown,Unknown,Unknown,5 Trait Count,Hair,0,117.119410
1,Darker,Male,Mohawk,Unknown,Smile,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,4 Trait Count,Mouth,1,72.698512
2,Lighter,Female,Wild Hair,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,3 Trait Count,Hair,2,58.332241
3,Darker,Male,Wild Hair,Nerd Glasses,Unknown,Unknown,Unknown,Pipe,Unknown,Unknown,Unknown,Unknown,Unknown,5 Trait Count,Smoking Device,3,78.818332
4,Medium,Male,Wild Hair,Big Shades,Unknown,Unknown,Goat,Unknown,Earring,Unknown,Unknown,Unknown,Unknown,6 Trait Count,Facial Hair,4,91.025350

In [10]:
# Initialize label encoder
label_encoder = LabelEncoder()

# Encode categorical columns
df_encoded = token_metadata.copy()
for col in df_encoded.columns:
    if df_encoded[col].dtype == 'object':
        df_encoded[col] = label_encoder.fit_transform(df_encoded[col])

# Specify the number of clusters
num_clusters = 5

# Initialize KMeans
kmeans = KMeans(n_clusters=num_clusters, random_state=42)

# Fit KMeans to the encoded data
kmeans.fit(df_encoded)

# Get cluster labels
token_metadata['Cluster'] = kmeans.labels_

# View the clusters
print(token_metadata.head())

  Skin Tone    Type        Hair           Eyewear    Mouth Headwear  \
0    Medium  Female  Blonde Bob  Green Eye Shadow  Unknown  Unknown
1    Darker    Male      Mohawk           Unknown    Smile  Unknown
2   Lighter  Female   Wild Hair           Unknown  Unknown  Unknown
3    Darker    Male   Wild Hair      Nerd Glasses  Unknown  Unknown
4    Medium    Male   Wild Hair        Big Shades  Unknown  Unknown

  Facial Hair Smoking Device Other:Earring Neckwear Skin Feature  \
0     Unknown        Unknown       Earring  Unknown      Unknown
1     Unknown        Unknown       Unknown  Unknown      Unknown
2     Unknown        Unknown       Unknown  Unknown      Unknown
3     Unknown           Pipe       Unknown  Unknown      Unknown
4        Goat        Unknown       Earring  Unknown      Unknown

  Other:Medical Mask Other:Clown Nose    Trait Count rarest_property_name  \
0            Unknown          Unknown  5 Trait Count                 Hair
1            Unknown          Unknown  4 Trait Count                Mouth
2            Unknown          Unknown  3 Trait Count                 Hair
3            Unknown          Unknown  5 Trait Count       Smoking Device
4            Unknown          Unknown  6 Trait Count          Facial Hair

   token_index  rarity_score  Cluster
0            0    117.119410        2
1            1     72.698512        2
2            2     58.332241        2
3            3     78.818332        2
4            4     91.025350        2

In [13]:
data = pd.read_csv('/Users/shaheen/Documents/job_search_jan_2024/home_tasks/nft-valuations/data/data_with_features.csv')
sold = pd.merge(data, token_metadata[['token_index', 'Cluster']], how='left', on='token_index')
sold.head()

,token_index,timestamp,eth,usd,date,Skin Tone,Type,Hair,Eyewear,Mouth,...,rarest_property_name,rarity_score,open,year,month,day_of_month,day_of_week,week_of_month,sum_last_7_days_eth_sales,Cluster
0,544,2017-06-23 21:05:06,0.010,3.26970,2017-06-23,Medium,Male,Crazy Hair,Unknown,Unknown,...,Hair,59.139764,320.97,2017,6,23,4,4,0.00,2
1,1841,2017-06-23 23:40:04,0.250,82.85000,2017-06-23,Darker,Female,Mohawk Thin,Green Eye Shadow,Black Lipstick,...,Eyewear,84.150533,320.97,2017,6,23,4,4,0.01,2
2,5916,2017-06-23 23:35:25,0.300,99.42000,2017-06-23,Medium,Male,Mohawk Dark,VR,Unknown,...,Eyewear,61.194638,320.97,2017,6,23,4,4,0.26,0
3,4641,2017-06-23 23:31:47,0.200,66.28000,2017-06-23,Lighter,Female,Wild Blonde,Purple Eye Shadow,Unknown,...,Hair,126.170786,320.97,2017,6,23,4,4,0.56,0
4,6318,2017-06-23 23:26:08,0.107,34.97295,2017-06-23,Lighter,Male,Mohawk,Eye Mask,Unknown,...,Eyewear,88.424911,320.97,2017,6,23,4,4,0.76,3

In [16]:
avg_valuation = sold.groupby('Cluster').agg({'eth': 'mean'}).reset_index()
avg_valuation

   Cluster        eth
0        0  50.616242
1        1  48.160593
2        2  52.760327
3        3  50.013431
4        4  46.793696

In [17]:
never_sold = token_metadata[~token_metadata.token_index.isin(data.token_index)]
never_sold.shape

(3076, 18)

In [18]:
never_sold_evaluation = pd.merge(never_sold[['token_index', 'Cluster']], avg_valuation, how='left', on='Cluster')
never_sold_evaluation.head()

   token_index  Cluster        eth
0            2        2  52.760327
1            3        2  52.760327
2            4        2  52.760327
3            5        2  52.760327
4            6        2  52.760327

In [19]:
never_sold_evaluation[never_sold_evaluation.token_index == 8174]

      token_index  Cluster        eth
2599         8174        1  48.160593